.contents {
    width: 720px;
    margin: 0 auto;
    padding: 30px 0;
}

.contentsTitle {
    text-align: center;
    font-size: 40px;
    width: fit-content;
    margin-inline: auto;
}

.section {
    width: 100%;
    margin-top: 50px;
}

.sectionTitle {
    font-size: 30px;
}

.text {
    margin-top: 30px;
    font-size: 20px;
}

.list {
    padding: 30px 0;
    margin-inline: auto;
    width: 720px;
    /* border: 2px solid; */
    /* background-color: rgba(255, 255, 0, 0.2); */
}

.listLink {
    height: 80px;
    border-radius: 5px;
    margin: 5px;
    border: 2px solid rgba(46, 210, 255, 0.3);
    list-style: none;
    position: relative;
}

.linkBox {
    position: absolute;
    inset: 0;
    padding: 10px;
    /* align-content: center; */
    font-size: 20px;
}

.tagBox {
    position: absolute;
    /* padding-bottom: 10px; */
    bottom: 10px;
    display: flex;
    font-size: 14px;
}

.tag {
    opacity: 0.7;
    border: solid 1px;
    margin-right: 10px;
    padding: 2px;
    border-radius: 2px;
}